/* Importe do Reset css */
@import url(../../assets/Reset/reset.min.css);
/* Importe das classes auxiliares css */
@import url(../../assets/Classes-Auxiliares/auxiliares.min.css);
/* Importe dos componentes css */
@import url(../../assets/Componentes/Componentes.min.css);
/* Importe das fonts */
@import url(../../assets/Fonts/Font-Projeto.min.css);
/* Importe breakpoints css */
@import url(../../assets/Breakpoints/Breakpoints.min.css);

/* Style da Página */
body {
  background-color: var(--Preto);
}
/* Header */
header {
  background-image: url(../../assets/imagens/bg-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 700px;
  position: relative;
}
header .social {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
  gap: 25px;
  align-items: center;
}
header .social a {
  color: #fff;
  font-size: 25px;
}
header .social a:hover {
  color: var(--Laranja);
  transition: all 1s;
}
header .header_chamada {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding-right: 5px;
}
header .header_chamada h1 {
  font-size: 34px;
  color: var(--texto-branco);
}
.header_chamada h1 > span {
  color: var(--Laranja);
  font-family: "Miltonian", serif;
}
header .header_chamada p {
  font-size: 14px;
  padding-top: 30px;
  color: var(--texto-branco);
  max-width: 570px;
  font-weight: lighter;
  line-height: 20px;
  text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.747);
}
.contact-link {
  font-size: 16px;
  background-color: var(--Laranja);
  padding: 10px 20px;
  color: var(--texto-branco);
  margin-top: 30px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.contact-link:hover {
  background-color: #00000086;
  border: 1px solid var(--Laranja);
  transition: all 1s;
}
/* Sobre */
.sobre {
  background-color: var(--Preto-claro);
}
.sobre > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 77px 15px;
}
.sobre .sobre_img {
  background-image: url(../../assets/imagens/03.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 370px;
  height: 400px;
  border-radius: 0 20px 20px 60px;
}
.sobre .sobre_texto {
  width: 50%;
}
.sobre .sobre_texto p {
  color: var(--texto-branco);
  max-width: 100%;
  font-size: 14px;
  padding-top: 30px;
  line-height: 20px;
}
.sobre .sobre_texto p > span {
  color: var(--Laranja);
}
.sobre .sobre_texto a > i {
  font-size: 20px;
  padding-left: 5px;
}
/* Servico */
.servico {
  background-color: var(--Preto-claro);
  padding-bottom: 60px;
}
.servico .title {
  text-align: center;
  padding: 60px 15px;
}
.container_servico {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

/* Projetos */
.projetos {
  background-color: var(--Preto);
}
.projeto_title h2 {
  text-align: center;
  padding: 60px 15px;
}
.projetos_flex {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.container_flex02 {
  margin-top: 30px;
  padding-bottom: 60px;
}
.projeto01 {
  background-image: url(../../assets/imagens/projeto01.png);
}
.projeto02 {
  background-image: url(../../assets/imagens/projeto02.png);
}
.projeto03 {
  background-image: url(../../assets/imagens/projeto03.png);
}

/* Contato */
.contato {
  background-color: var(--Preto);
  padding: 30px 15px;
}
.contato_title {
  text-align: center;
}
.contato_form {
  max-width: 768px;
  margin: 0 auto;
  margin-top: 60px;
}
.form_line {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.container-form {
  position: relative;

  width: 50%;
}
form input {
  width: 100%;
  height: 40px;
  background-color: #000;
  border: none;
  border-bottom: 1px solid #fff;
  padding-left: 5px;
  color: var(--texto-branco);
  outline: none;
}
form input:focus,
textarea:focus {
  background-color: #000;
}
textarea {
  width: 100%;
  margin-top: 30px;
  height: 160px;
  background-color: #000;
  border: none;
  border-bottom: 1px solid #fff;
  padding-left: 5px;
  color: var(--texto-branco);
  outline: none;
  resize: vertical;
}
form button {
  background-color: var(--Laranja);
  width: 160px;
  height: 35px;
  color: var(--texto-branco);
  margin-top: 30px;
  cursor: pointer;
}
.span-required {
  color: #e63636;
  font-size: 14px;
  display: none;
  font-weight: normal;
  position: absolute;
  top: 43px;
}
.contato_info {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  max-width: 768px;
  margin: 0 auto;
  margin-top: 60px;
}
/* Footer */
footer {
  background-color: #000;
  padding: 60px 15px;
}
.footer_title {
  text-align: center;
}
footer .footer_title a {
  color: var(--texto-branco);
  font-size: 34px;
  text-align: center;
}
.footer_icons-social {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 30px 15px;
}
.whats {
  background-color: #25d366;
}
.inst {
  background-color: #8134af;
}
.link {
  background-color: #0e76a8;
}
.goog {
  background-color: #db4a39;
}
/* Footer copywriter */
.footer__copywriter {
  background-color: #000;
  color: var(--texto-branco);
  font-size: 16px;
  text-align: center;
}
